version: "3.8"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - ACCESS_TOKEN
      - CHANNEL_SECRET
    volumes:
      - ./app/images:/usr/src/app/app/images
    restart: unless-stopped
